@use "../../foundation" as *;

.p-db {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  &__table-panel {
    overflow: hidden; // Ensure rounded corners from panel apply to table
    display: flex;
    flex: 1;
    flex-direction: column;

    min-height: 0;
    padding: 0; // Remove padding so table spans full width of panel
  }

  &__content {
    overflow-y: auto;
    flex: 1;
    padding: var(--pad-container);
  }

  &__empty {
    padding: var(--pad-container);
    border: var(--border-width-base) solid
      theme-color(var(--color-border), 50%);

    font-size: var(--font-size-base);
    color: var(--color-text-muted);
    text-align: center;
  }

  &__meta {
    font-size: var(--font-size-sm);
    color: var(--color-text-muted);
  }
}
